<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISourceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/SourceService/SourceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISourceService"
                contract="SourceServiceProxy.ISourceService" name="BasicHttpBinding_ISourceService" />
        </client>
    </system.serviceModel>
</configuration>