<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpoint" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpEndpoint" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsHttpEndpoint" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://nekon-laptop/DestinationService/DestinationService.svc/BasicHttpEndpoint"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint"
        contract="DestinationService.IDestinationService" name="BasicHttpEndpoint" />
      <endpoint address="net.tcp://nekon-laptop/DestinationService/DestinationService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpEndpoint"
        contract="DestinationService.IDestinationService" name="NetTcpEndpoint">
        <identity>
          <servicePrincipalName value="host/Nekon-Laptop" />
        </identity>
      </endpoint>
      <endpoint address="https://nekon-laptop/DestinationService/DestinationService.svc/WsHttpEndpoint"
        binding="wsHttpBinding" bindingConfiguration="WsHttpEndpoint"
        contract="DestinationService.IDestinationService" name="WsHttpEndpoint" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>