<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wcfBasicHttpBinding" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="wcfNetTcpBinding" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBinding" maxReceivedMessageSize="2147483647" />
      </netNamedPipeBinding>
      <wsHttpBinding>
        <binding name="wcfWsHttpBinding" maxReceivedMessageSize="2147483647" >
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
          <!-- makecert -n "CN=%ComputerName%, CN=localhost" -ss MY -sr LocalMachine -b 08/09/2016 -e 09/09/2028 -a sha256 -sky exchange -r -pe myCert.cer  -->
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service name="DestinationService.DestinationService">
        <!-- as per https://stackoverflow.com/a/1320500 we are using relative url to expose multiple binding types to one endpoint -->
        <endpoint address="BasicHttpEndpoint" binding="basicHttpBinding" bindingConfiguration="wcfBasicHttpBinding" contract="DestinationService.IDestinationService" name="BasicHttpEndpoint"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="wcfNetTcpBinding" contract="DestinationService.IDestinationService" name="NetTcpEndpoint"/>
        <!--<endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBinding" contract="DestinationService.IDestinationService" name="NetNamedPipeEndpoint"/>-->
        <endpoint address="WsHttpEndpoint" binding="wsHttpBinding" bindingConfiguration="wcfWsHttpBinding" contract="DestinationService.IDestinationService" name="WsHttpEndpoint" />
      </service>
    </services>

    <!--<client>
      <endpoint address="http://localhost/DestinationService" binding="basicHttpBinding" bindingConfiguration="wcfBasicHttpBinding" contract="DestinationService.IDestinationService" name="BasicHttpEndpoint"/>
      <endpoint address="net.tcp://localhost/DestinationService" binding="netTcpBinding" bindingConfiguration="wcfNetTcpBinding" contract="DestinationService.IDestinationService" name="NetTcpEndpoint"/>
      <endpoint address="net.pipe://localhost/DestinationService" binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBinding" contract="DestinationService.IDestinationService" name="NetNamedPipeEndpoint"/>
      <endpoint address="https://localhost/DestinationService" binding="wsHttpBinding" bindingConfiguration="wcfWsHttpBinding" contract="DestinationService.IDestinationService" name="WsHttpEndpoint" />
   
        -->
    <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
    <!--  
        -->
    <!--<host>  
          <baseAddresses >  
            <add  baseAddress="http://localhost:8080/"/>  
          </baseAddresses>  
        </host>-->
    <!--  
    
      </client>--> 
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
      <!--<add binding="basicHttpBinding" scheme="http"/>-->
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>